.recipeCard-Container {
  margin: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(94, 30, 30);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.recipeCard-Container:hover {
  transform: scale(1.02);
}
.recipeCard-Container h4,
.textName {
  border-bottom: 1px dotted grey;
}
.deleteButton {
  margin-top: 10px;
  border: none;
}

.imageWrapper {
  position: relative;
  display: block;
}

.imageWrapper img {
  width: 100%;
  /* height: 200px; */
  border-radius: 10px;
  object-fit: cover;
  border-radius: 8px 8px 0 0; /* 👉 little trick to make it look well integrated to the card :D */
  aspect-ratio: 5/3; /* 👉 pure CSS magic (not supported by all browsers yet, but there are workarounds) */
}

.badge {
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 10px;
  background-color: tomato;
  color: white;
  padding: 4px 8px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.favourites {
  position: absolute;
  display: inline-block;
  bottom: 10px;
  right: 10px;
  padding: 4px 8px;
}

.favourites:hover {
  box-shadow: 0 2px 5px rgba(1, 1, 1, 0);
  cursor: pointer;
}
.cookTimeDetails {
  text-align: center;
}
.deleteButton :hover {
  transform: scale(1.02);
  cursor: pointer;
}
