.nav-Link {
  text-decoration: none;
  color: rgb(85, 29, 29);
}

.sideBar-item {
  text-align: center;
  width: 100%;
}

.sideBar-item:hover {
  transform: scale(1.2);
}

/* 
for clarity:
aside .sideBar-container 👉 anything with the class .sideBar-container inside of an "aside"
aside.sideBar-container 👉 any "aside" that has the class .sideBar-container
*/
aside.sideBar-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ffe0b2;
  /* width: 200px; 👉 let's try to avoid fixed width. It's now handled by .mainComponent-container */
  height: 100vh;
  padding: 15px;
  font-weight: bold;
  border-right: 1px solid #ccc;

  position: sticky; /* 👉 will stick to the screen once it's in view... */
  top: 0 /* 👉 ... 0px from the top of the screen */
}

