.recipeDetailGridContainer {
  display: grid;
  grid-template-columns: [recipeDetailC1] 50% [recipeDetailC2] 50%;
}
.recipeDetail-container1,
.recipeDetail-container2 {
  width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: #fffaf5;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.recipeDetail-container1 img {
  height: 500px;
  width: 100%;
  /* object-fit: contain; */
  border-radius: 25%;
}
h1 {
  text-align: center;
  color: #e64a19;
  margin-bottom: 10px;
}
.recipe-meta {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}
.recipe-meta p {
  margin: 5px 0;
}
.recipe-content h2 {
  color: #d84315;
  border-bottom: 2px solid #ffe0b2;
  padding-bottom: 5px;
  margin-top: 20px;
}

.recipeDetail-container2 {
  background-image: url("/images/recipeBookBackground.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: bolder;
}
.recipeDetail-container2 ul,
ol {
  margin-left: 20px;
  line-height: 1.6;
}
.recipeDetail-container2 li {
  margin-bottom: 5px;
}
.recipeDetail-container2 .button-Container {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.recipeDetail-container2 .homeBtn {
  margin-top: 10px;
  padding: 8px 14px;
  background: #ff7043;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  border: #ff7043;
  font: inherit;
  font-size: 30px;
}
.recipeDetail-container2 .homeBtn:hover {
  background: #ff5722;
  text-decoration: none;
}
