.recipeListContainer {
  display: grid;

  /* grid-template-columns: repeat(7, 200px); */
  grid-template-columns: auto auto auto auto; /* 👉 allows us to have a flexible width */
  gap: 20px; 

  /* justify-content: center; 👉 only applies if display:flex */
  /* align-items: center; 👉 only applies if display:flex */
  /* flex-wrap: wrap; 👉 only applies if display:flex */
  /* width: auto; 👉 unnecessary, this is the default behaviour */
  
  /* margin: 20px; */
  margin: 0 auto; /* 👉 0 top and bottom (it's handled by the parent's padding), centered horizontally */
}